{% extends 'base.html' %}
{%block title %} Welcome to Manar Imad Coding Market {% endblock %}

{% block body %} 
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white"> 
    <div classe"col-md-5 p-lg-5 x-auto my-5">
         <hl class="display-4 font-wight-normal"><h1>Manar Imad Coding Market</h1>
            <p class"Lead font-weight-normal">
                Start purchasing products by elicking the Link below
            </p>
             <!-- <a  href"{{url_for('market_page')}}">/a> -->
             <a class="btn btn-primary" href="{{url_for('market_page')}}">Get Started</a>
             <div class"product-device box-shadow d-none d-md-block></div> 
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div> 
     {%endblock%}  