{% extends "base.html"%}
{% block title %}
<title>Market</title>
{% endblock %}
{% block header %}
<h1>Market Page</h1>
{% endblock %}
{% block body %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">Price</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>

          {% for i in items%}
          {% include 'includes/modal.html'%}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.price}}</td>
            <!-- <td>{{i.description}}</td> -->

            <td><button class="btn btn-outline btn-info" data-toggle="modal" data-target="#infoModal-{{i.id}}">More Info</button>
              <button class="btn btn-outline btn-success" data-toggle="modal" data-target="#PurshaseConfirm-{{i.id}}">Purshase</button>
            </td>
            <!-- <td>@mdo</td> -->
          </tr>
         {% endfor %}
      </tbody>
    </table>
  
    {% endblock %}